@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,500;1,100&display=swap');

#wrapper {
    position: relative;
    top: 9%;
    padding: 0 10% 0;
}
#row {
    display:flex;
    position: relative;
}
#button {
    transition: opacity 0.5s ease-in-out;
    animation: backInDown;
    animation-duration: 1.5s;
    width: 100%;
    height: 600px;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;

}
#button:hover {
    opacity: 0.7;
}

.how_dashboard {
    background-image: url("../../../../assets/images/dashboard_howto.jpeg");
    background-size: cover;
    background-position: -180px;
    
}

.what_app {
    background-image: url("../../../../assets/images/app_whatis.jpeg");
    background-size: cover;
    background-position: -46px;

}

.developers {
    background-image: url("../../../../assets/images/developers_image.jpeg");
    background-size: cover;
    background-position: -50px;
}

#button_title {
    position: relative;
    color: white;
    font-size: 36px;
    text-align: center;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: bold;
}  

#title_container {
    position: relative;
    top: 45%;
    height: 60px;
    background: rgba(113,175,238,0.8);
}

#info_container {
    //background: rgba(130, 62, 240, 0.8);
    background: rgba(38,38,38,1);
    border-radius: 10px;
    height: 700px;
    overflow: auto;
}

#info-block {
    position: relative;
    width: 97%;
    height: 60%;
    margin: 20px 20px 20px 20px;
}

#info-images-left{
    float: left;
}

#info-text-right{
    font-family: "Alegreya Sans", sans-serif;
    text-align: justify;
    float: right;
    width: 51%;
}

h1{
    font-family: "Alegreya Sans", sans-serif;
    font-size: 45px;
    padding-top: 15px;
    text-align: center;
    color:white;
    font-weight: bolder;
}

.purple {
    color: rgba(138, 24, 220, 1);
}

.blue {
    color: rgba(41, 179, 233, 1);
}

#info-title {
    font-size: 37px;
    font-weight: bolder;
    font-family: "Alegreya Sans", sans-serif;

}

#info-paragraph{
    font-size: 35px;
    //font-weight: bolder;
    font-family: "Alegreya Sans", sans-serif;
    line-height: 50px;
}

#go_back {
    position: relative;
    top: 12px;
    left: 30px;
    font-size: 40px;
    font-weight: bold;
    float: left;
    cursor: pointer;
}
#go_back:hover {
    opacity: 0.6;
    transition: opacity 0.3s ease-in-out;
}
