<div id="wrapper">
    <div id="row">
        <div id="button" class="eda" *ngIf="!hiddenEda" (click)="panelExpandedEda = !panelExpandedEda; hiddenEda = !hiddenEda; hiddenCyr = !hiddenCyr;">
            <div id ="title_container">
                <h1 id="button_title">Modelo 1</h1>
            </div>
        </div>
        <div id="info_container" *ngIf="panelExpandedEda">
            <mat-icon [ngStyle]="{'color': 'white'}" id="go_back" (click)="panelExpandedEda = !panelExpandedEda; hiddenEda = !hiddenEda; hiddenCyr = !hiddenCyr;">arrow_back_ios</mat-icon>
            <h1>¿Cómo usar esta aplicación?</h1>
            <div id="info-block">
                <div id="info-images-left">
                    <img src="(../../../../assets/images/iconos_barra.png">
                </div>
                <div id="info-text-right">
                    <h2 id="info-title" class="purple">Navegación</h2>
                    <p id="info-paragraph" class="purple">
                    ¡Es muy sencillo navegar por nuestra aplicación! <br>
                    Solo selecciona el ícono asignado a la sección que quieres visitar. <br>
                    </p>
                </div>
            </div>
            <div id="info-block">
                <div id="info-text-right">
                    <h2 id="info-title" class="blue">El Dashboard: La joya de nuestra app</h2>
                    <p id="info-paragraph" class="blue">
                    El Dashboard está diseñado para visualizar los datos que se utilizaron para
                    realizar las predicciones a futuro del estilo de vida de Colombia. 
                    <br>
                    Puedes agregar, eliminar e interactuar con los ocho tipos de gráficos que ofrecemos.
                    </p>
                </div>
                <div id="info-images-left">
                    <img src="(../../../../assets/images/iconos_barra.png">
                </div>
            </div>
            <div id="info-block">
                <div id="info-text-right">
                    <h2 id="info-title">Usar un Linechart</h2>
                    <p class="info-paragraph">
                    
                    </p>
                </div>
                <div id="info-images-left">
                    <img src="(../../../../assets/images/iconos_barra.png">
                </div>
            </div>
            <div id="info-block">
                <div id="info-text-right">
                    <h2 id="info-title">Usar un Stripplot</h2>
                    <p class="info-paragraph">
                    
                    </p>
                </div>
                <div id="info-images-left">
                    <img src="(../../../../assets/images/iconos_barra.png">
                </div>
            </div>
            <div id="info-block">
                <div id="info-text-right">
                    <h2 id="info-title">Usar un Geograph</h2>
                    <p class="info-paragraph">
                    
                    </p>
                </div>
                <div id="info-images-left">
                    <img src="(../../../../assets/images/iconos_barra.png">
                </div>
            </div>
            <div id="info-block">
                <div id="info-text-right">
                    <h2 id="info-title">Usar un Bargraph</h2>
                    <p class="info-paragraph">
                    
                    </p>
                </div>
                <div id="info-images-left">
                    <img src="(../../../../assets/images/iconos_barra.png">
                </div>
            </div>
            <div id="info-block">
                <div id="info-text-right">
                    <h2 id="info-title">Usar un Treemap</h2>
                    <p class="info-paragraph">
                    
                    </p>
                </div>
                <div id="info-images-left">
                    <img src="(../../../../assets/images/iconos_barra.png">
                </div>
            </div>      
            <div id="info-block">
                <div id="info-text-right">
                    <h2 id="info-title">Usar un Piechart</h2>
                    <p class="info-paragraph">
                    
                    </p>
                </div>
                <div id="info-images-left">
                    <img src="(../../../../assets/images/iconos_barra.png">
                </div>
            </div>
            <div id="info-block">
                <div id="info-text-right">
                    <h2 id="info-title">Usar un Distplot</h2>
                    <p class="info-paragraph">
                    
                    </p>
                </div>
                <div id="info-images-left">
                    <img src="(../../../../assets/images/iconos_barra.png">
                </div>
            </div>
        </div>

        <div id="button" class="cyr" *ngIf="!hiddenCyr" (click)="panelExpandedCyr = !panelExpandedCyr; hiddenEda = !hiddenEda; hiddenCyr = !hiddenCyr;">
            <div id ="title_container">
                <h1 id="button_title">Modelo 2</h1>
            </div>
        </div>
        <div id="info_container" *ngIf="panelExpandedCyr">
            <mat-icon [ngStyle]="{'color': 'white'}" id="go_back" (click)="panelExpandedCyr = !panelExpandedCyr; hiddenEda = !hiddenEda; hiddenCyr = !hiddenCyr;">arrow_back_ios</mat-icon>
            <h1>¿Cómo usar esta aplicación?</h1>
            <div id="info-block">
                <div id="info-images-left">
                    <img src="(../../../../assets/images/iconos_barra.png">
                </div>
                <div id="info-text-right">
                    <h2 id="info-title">Navegación</h2>
                    <p id="info-paragraph">
                    ¡Es muy sencillo navegar por nuestra aplicación! <br>
                    Solo selecciona el ícono asignado a la sección que quieres visitar. <br>
                    </p>
                </div>
            </div>
            <div id="info-block">
                <div id="info-text-right">
                    <h2 id="info-title">El Dashboard: La joya de nuestra app</h2>
                    <p id="info-paragraph">
                    El Dashboard está diseñado para visualizar los datos que se utilizaron para
                    realizar las predicciones a futuro del estilo de vida de Colombia. 
                    <br>
                    Puedes agregar, eliminar e interactuar con los ocho tipos de gráficos que ofrecemos.
                    </p>
                </div>
                <div id="info-images-left">
                    <img src="(../../../../assets/images/iconos_barra.png">
                </div>
            </div>
            <div id="info-block">
                <div id="info-text-right">
                    <h2 id="info-title">Usar un Linechart</h2>
                    <p class="info-paragraph">
                    
                    </p>
                </div>
                <div id="info-images-left">
                    <img src="(../../../../assets/images/iconos_barra.png">
                </div>
            </div>
            <div id="info-block">
                <div id="info-text-right">
                    <h2 id="info-title">Usar un Stripplot</h2>
                    <p class="info-paragraph">
                    
                    </p>
                </div>
                <div id="info-images-left">
                    <img src="(../../../../assets/images/iconos_barra.png">
                </div>
            </div>
            <div id="info-block">
                <div id="info-text-right">
                    <h2 id="info-title">Usar un Geograph</h2>
                    <p class="info-paragraph">
                    
                    </p>
                </div>
                <div id="info-images-left">
                    <img src="(../../../../assets/images/iconos_barra.png">
                </div>
            </div>
            <div id="info-block">
                <div id="info-text-right">
                    <h2 id="info-title">Usar un Bargraph</h2>
                    <p class="info-paragraph">
                    
                    </p>
                </div>
                <div id="info-images-left">
                    <img src="(../../../../assets/images/iconos_barra.png">
                </div>
            </div>
            <div id="info-block">
                <div id="info-text-right">
                    <h2 id="info-title">Usar un Treemap</h2>
                    <p class="info-paragraph">
                    
                    </p>
                </div>
                <div id="info-images-left">
                    <img src="(../../../../assets/images/iconos_barra.png">
                </div>
            </div>      
            <div id="info-block">
                <div id="info-text-right">
                    <h2 id="info-title">Usar un Piechart</h2>
                    <p class="info-paragraph">
                    
                    </p>
                </div>
                <div id="info-images-left">
                    <img src="(../../../../assets/images/iconos_barra.png">
                </div>
            </div>
            <div id="info-block">
                <div id="info-text-right">
                    <h2 id="info-title">Usar un Distplot</h2>
                    <p class="info-paragraph">
                    
                    </p>
                </div>
                <div id="info-images-left">
                    <img src="(../../../../assets/images/iconos_barra.png">
                </div>
            </div>
        </div>
    </div>

</div>