<div id="wrapper">
    <div class="side_image">
        <img src="https://via.placeholder.com/500x1030">
    </div>
    <div class="content">
        <h1 class="titulo_articulo">Análisis Exploratorio de los Datos</h1>
            <p class="parrafo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur imperdiet augue convallis lacinia interdum. Praesent vel libero accumsan, ultrices augue quis, 
                dapibus elit. Fusce aliquet vitae orci quis venenatis. Proin in lacus scelerisque, venenatis diam sit amet, bibendum turpis. 
                Morbi pretium nisi non dolor lobortis maximus. Sed consequat ligula lacus, vitae venenatis elit tincidunt sit amet. Duis ornare fringilla dui eget tristique. 
                Quisque vulputate, massa a aliquam molestie, orci nisl consequat enim, quis feugiat mauris lorem in augue. Ut id congue dolor. Praesent lacinia malesuada tempor. 
                Vestibulum sit amet convallis libero, a volutpat elit. Sed in interdum nulla. Nulla quam tortor, dignissim non nunc ac, cursus varius risus. 
                Praesent volutpat turpis a nunc mattis, et dignissim lectus aliquet. In imperdiet interdum erat, a blandit urna imperdiet eu. In eget sapien non risus ornare iaculis.
            </p>
        <h2 class="subtitulo_articulo">Análisis de Subgrupos</h2>
            <p class="parrafo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur imperdiet augue convallis lacinia interdum. Praesent vel libero accumsan, ultrices augue quis, 
                dapibus elit. Fusce aliquet vitae orci quis venenatis. Proin in lacus scelerisque, venenatis diam sit amet, bibendum turpis. 
                Morbi pretium nisi non dolor lobortis maximus. Sed consequat ligula lacus, vitae venenatis elit tincidunt sit amet. Duis ornare fringilla dui eget tristique. 
                Quisque vulputate, massa a aliquam molestie, orci nisl consequat enim, quis feugiat mauris lorem in augue. Ut id congue dolor. Praesent lacinia malesuada tempor. 
                Vestibulum sit amet convallis libero, a volutpat elit. Sed in interdum nulla. Nulla quam tortor, dignissim non nunc ac, cursus varius risus. 
                Praesent volutpat turpis a nunc mattis, et dignissim lectus aliquet. In imperdiet interdum erat, a blandit urna imperdiet eu. In eget sapien non risus ornare iaculis.
            </p>
        <h2 class="subtitulo_articulo">Análisis de Correlación</h2>
            <p class="parrafo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur imperdiet augue convallis lacinia interdum. Praesent vel libero accumsan, ultrices augue quis, 
                dapibus elit. Fusce aliquet vitae orci quis venenatis. Proin in lacus scelerisque, venenatis diam sit amet, bibendum turpis. 
                Morbi pretium nisi non dolor lobortis maximus. Sed consequat ligula lacus, vitae venenatis elit tincidunt sit amet. Duis ornare fringilla dui eget tristique. 
                Quisque vulputate, massa a aliquam molestie, orci nisl consequat enim, quis feugiat mauris lorem in augue. Ut id congue dolor. Praesent lacinia malesuada tempor. 
                Vestibulum sit amet convallis libero, a volutpat elit. Sed in interdum nulla. Nulla quam tortor, dignissim non nunc ac, cursus varius risus. 
                Praesent volutpat turpis a nunc mattis, et dignissim lectus aliquet. In imperdiet interdum erat, a blandit urna imperdiet eu. In eget sapien non risus ornare iaculis.
            </p>
        <h1 class="titulo_articulo">Conclusiones y Recomendaciones</h1>
            <p class="parrafo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur imperdiet augue convallis lacinia interdum. Praesent vel libero accumsan, ultrices augue quis, 
                dapibus elit. Fusce aliquet vitae orci quis venenatis. Proin in lacus scelerisque, venenatis diam sit amet, bibendum turpis. 
                Morbi pretium nisi non dolor lobortis maximus. Sed consequat ligula lacus, vitae venenatis elit tincidunt sit amet. Duis ornare fringilla dui eget tristique. 
                Quisque vulputate, massa a aliquam molestie, orci nisl consequat enim, quis feugiat mauris lorem in augue. Ut id congue dolor. Praesent lacinia malesuada tempor. 
                Vestibulum sit amet convallis libero, a volutpat elit. Sed in interdum nulla. Nulla quam tortor, dignissim non nunc ac, cursus varius risus. 
                Praesent volutpat turpis a nunc mattis, et dignissim lectus aliquet. In imperdiet interdum erat, a blandit urna imperdiet eu. In eget sapien non risus ornare iaculis.
            </p>
    </div>
<div>